@model Monster_University_GR2.CapaEntidad.UsuarioSesion

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // <--- Conectamos el layout
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-12">
        <h1 class="display-4">Bienvenido al Sistema Monster University</h1>
        <p class="lead">Hola, <strong>@Model.Nombre @Model.Apellido</strong></p>
        <hr />

        <div class="alert alert-info">
            Estás conectado como: <strong>@Model.RolCodigo</strong>
        </div>
    </div>
</div>