body {
    background-image: url('../../images/Monster_Fondo_3.jpg');
    background-size: cover;
    font-family: 'Nunito', sans-serif; /* Fuente más amigable */
}

/* Tarjeta principal */
/* Contenedor del card */
.login-card {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 180, 150, 0.20); 
    border-radius: 12px;
    backdrop-filter: blur(9px); 
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    padding: 80px 35px 50px;
    color: #fff;
}

/* Logo circular opcional */
.brand_logo_container {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.brand_logo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 2px solid white;
}



/* Títulos */
form h3 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}

form .subtitle {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #ccc;
}

/* Inputs */
label {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

input {
    background-color: rgba(255,255,255,0.07);
    color: #fff;
}

::placeholder {
    color: #e5e5e5;
}

/* Botón */
button {
    width: 100%;
    background-color: #2ecc71; /* verde brillante */
    color: #0d1b2a;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

    button:hover {
        background-color: #23a2f6; /* azul claro al hover */
        color: #fff;
    }

/* Enlace recuperar */
.forgot-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color:dark;
    text-decoration: none;
}

    .forgot-link:hover {
        text-decoration: underline;
    }
